*{
    margin: 0;
    padding: 0;
}
@font-face {
  font-family: 'greek';
  src: local('Dalek Pinpoint Bold'), url('DalekPinpointBold.ttf') format('truetype');
}
body{
    background-image: url('foto-preguntagenerica.jpg');
    background-position: center 50%;
    background-size: 100% 160% ;
}
#texto-principal{
    padding: 10% 25%;
}
#texto-principal h2{
    margin-bottom: 2%;
    font-family: 'greek';
    font-weight: 100;
}